<!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>				
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h6 class="text-white">Khám phá Việt Nam</h6>
                <h1 class="text-white">Chào mừng quay lại</h1>
                <p class="text-white">
                    Đăng nhập vào hệ thống để khám phá thêm nhiều tính năng, đặt chuyến bay cho chuyến du đi của bạn    
                </p>
            </div>
            <div class="col-lg-4 col-md-6 banner-right" style="margin-top:6rem">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="flight" role="tabpanel" aria-labelledby="flight-tab">
                    <form class="form-wrap" id="form-login">
                        <div class="mt-20">
                            <p class="typo-list" style="text-align: left;">Email</p>
                            <input class="form-control" type="text" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required class="single-input">
                        </div>
                        <div class="mt-20 mb-20">
                            <p class="typo-list" style="text-align: left;">Mật khẩu</p>
                            <input class="form-control" type="password" name="password" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu'" required class="single-input">
                        </div>
                        <a href="register" class="">Chưa có tài khoản? Tạo ngay</a>
                        <button id="btn-login" class="primary-btn text-uppercase mt-10">Đăng nhập</button>									
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>					
</section>
<!-- End banner Area -->		


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        $('#btn-login').on('click', function(event){
            event.preventDefault()
            $.ajax({
                url: '',
                method: 'post',
                data: $('#form-login').serialize(),
                success: function (res) {
                    if (res) {
                        alert(res)
                    }
                    else {
                        window.location.href = '/user'
                    }
                }
            })
        })
    })
</script>